.border-radius-10 {
    border-radius: 10px;
}

.bg-blue-degrade {
    background: linear-gradient(180deg, rgba(32,81,142,1) 32%, rgba(72,112,162,1) 74%, rgba(161,180,206,1) 100%, rgba(142,166,197,1) 100%, rgba(240,242,245,1) 100%);
}

.services-text {
    color: #dae1ec !important;
}